<template>
  <v-card flat>
    <v-card-text>
      <h2>Ранжирование документов</h2>

      <v-text-field
          label="β"
          v-model.number = "beta"
          type="number"
      ></v-text-field>

      <v-text-field
          label="K - число предложений между понятиями"
          v-model.number = "k"
          type="number"
      ></v-text-field>

      <v-text-field
          label="N - расстояние между вершинами онтологии"
          v-model.number = "n"
          type="number"
      ></v-text-field>

      <v-btn
          color="primary"
          @click="rangeDocs()"
          :disabled="isLoading"
      >
        Ранжировать
      </v-btn>

      <v-data-table
          :headers="headers"
          :items="rangedDocs"
          class="elevation-1"
          v-if="rangedDocs.length > 0"
      >
        <template v-slot:item.actions="{ item }">
          <v-icon
              small
              class="mr-2"
              @click="downloadOntology(item)"
          >
            mdi-download
          </v-icon>
        </template>
      </v-data-table>
    </v-card-text>
  </v-card>
</template>

<script>
import textApi from "../api/texts";

export default {
  name: "DocumentRanging",
  computed: {
    isLoading: function() {
      return this.$store.getters.getLoading;
    },
    rangedDocs: function() {
      return this.$store.getters.getRangedDocuments;
    }
  },
  methods: {
    async rangeDocs() {
      this.$store.commit('setLoading', true);

      let parsed = this.$store.getters.getParsedTexts;
      let files = this.$store.getters.getDocumentFiles;

      let bundledParsed = []
      for (let i = 0; i < files.length; i++) {
        bundledParsed.push({
          name: files[i].name,
          raw_text: parsed[i]
        })
      }
      window.console.log(bundledParsed);

      const proximityData = await textApi.proximity(
          bundledParsed,
          this.k,
          this.n,
          this.beta,
          this.$store.getters.getParsedOntologyFile
      )
      window.console.log(proximityData);

      this.$store.commit('setRangedDocuments', proximityData.data.processed)
      this.$store.commit('setLoading', false);
    },
    downloadOntology(item) {
      this.downloadFile(
          [JSON.stringify(item.ontology, null, 4)],
          'application/json',
          `${item.name}.ont`
      )
    },
    downloadFile(file, type, filename) {
      // `${this.characterName}.json`
      if (!window.confirm('Действительно скачать файл?')) {
        return;
      }

      const blob = new Blob(
          file,
          {type}
      );

      const url = URL.createObjectURL(blob);

      let link = document.createElement('a');

      link.href = url;
      link.download = filename
      link.style.display = 'none';

      document.body.appendChild(link);
      link.click();

      URL.revokeObjectURL(url);
      document.body.removeChild(link);
    },
  },
  data: () => ({
    headers: [
      {
        text: 'Название документа',
        value: 'name'
      },
      {
        text: 'Оценка',
        value: 'r',
        sortable: true
      },
      {
        text: 'Скачать онтологию',
        value: 'actions',
      }
    ],
    beta: 2,
    k: 5,
    n: 10
  })
}
</script>

<style scoped>

</style>