<template>
  <v-card flat>
    <v-card-text>

      <h2>Управляющая онтология</h2>
      <v-file-input
          v-model="ontologyFile"
          label="Загрузить онтологию"
          accept=".ont"
          :disabled="useDefaultOntology"
          @change="updateOntologyFile()"
      ></v-file-input>
      <p>ИЛИ</p>
      <v-switch
          v-model="useDefaultOntology"
          label="Использовать онтологию по умолчанию"
          @change="updateOntologyFile()"
      ></v-switch>
      <v-divider/>

      <h2>Корпус публикаций</h2>
      <v-file-input
          v-model="documentFiles"
          label="Загрузить документы"
          accept=".txt"
          multiple
      ></v-file-input>

      <ul>
        <li v-for="file in fileDescriptions" :key="file">
          {{file}}
        </li>
      </ul>

    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: "FileUpload",
  data: () => ({
    ontologyFile: null,
    useDefaultOntology: true,
    documentFiles: []
  }),
  computed: {
    fileDescriptions: function() {
      this.$store.commit('setDocumentFiles', this.documentFiles)

      return this.documentFiles.map(f => f.name);
    }
  },
  methods: {
    updateOntologyFile() {
      const ont = this.useDefaultOntology ? null : this.ontologyFile;
      this.$store.commit('setOntologyFile', ont)
    }
  }
}
</script>

<style scoped>

</style>