<template>
  <v-card flat>
    <v-card-text>
      <h2>Документы с прореженным текстом</h2>
      <p>
        На данном этапе в тексте остаются только предложения, содержащие термины онтологии.
        Тексты на данном этапе уже были предобработаны.
      </p>

      <v-expansion-panels>
        <v-expansion-panel
            v-for="reduced in reducedTexts"
            :key="reduced.name"
        >
          <v-expansion-panel-header>
            {{reduced.name}}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <ol>
              <li v-for="line in reduced.content" :key="line">
                {{line}}
              </li>
            </ol>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
      <v-btn
          color="primary"
          @click="reduceTexts()"
          :disabled="isLoading"
      >
        Начать очистку
      </v-btn>
    </v-card-text>
  </v-card>
</template>

<script>
import textApi from "../api/texts";

export default {
  name: "TextReduction",
  computed: {
    reducedTexts: function() {
      let reduced = this.$store.getters.getCleanedTexts;
      let files = this.$store.getters.getDocumentFiles;

      let formatted_reduced = []
      for (let i = 0; i < files.length; i++) {
        formatted_reduced.push({
          name: files[i].name,
          content: reduced[i]
        })
      }

      return formatted_reduced;
    },
    isLoading: function() {
      return this.$store.getters.getLoading;
    }
  },
  methods: {
    async reduceTexts() {
      this.$store.commit('setLoading', true);
      let reduced_texts = []

      const parsed_texts = this.$store.getters.getParsedTexts;
      for (let text of parsed_texts) {
        const reduced = await textApi.reduce(text, this.$store.getters.getParsedOntologyFile);
        reduced_texts.push(reduced.data.reduced)
        window.console.log(reduced);
      }

      this.$store.commit('setCleanedDocuments', reduced_texts)
      this.$store.commit('setLoading', false);
    }
  }
}
</script>

<style scoped>

</style>