<template>
  <v-stepper v-model="pageNumber">
    <v-stepper-header>
      <v-stepper-step
          :complete="pageNumber > 1"
          step="1"
      >
        Загрузка файлов
      </v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step
          :complete="pageNumber > 2"
          step="2"
      >
        Прореживание текста
      </v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step step="3">
        Ранжирование документов
      </v-stepper-step>
    </v-stepper-header>

    <v-stepper-items>
      <v-stepper-content step="1">
        <FileUpload/>

        <v-btn
            color="primary"
            @click="$store.commit('nextPage')"
            :disabled="isLoading"
        >
          Далее
        </v-btn>

      </v-stepper-content>

      <v-stepper-content step="2">
        <TextReduction/>

        <v-btn
            color="primary"
            @click="$store.commit('nextPage')"
            :disabled="isLoading"
        >
          Далее
        </v-btn>

        <v-btn color="warning" @click="$store.commit('prevPage')" :disabled="isLoading">
          Назад
        </v-btn>
      </v-stepper-content>

      <v-stepper-content step="3">
        <DocumentRanging/>
        <v-btn color="warning" @click="$store.commit('prevPage')" :disabled="isLoading">
          Назад
        </v-btn>
      </v-stepper-content>
    </v-stepper-items>
  </v-stepper>
</template>

<script>
import FileUpload from "./FileUpload";
import TextReduction from "./TextReduction";
import DocumentRanging from "./DocumentRanging";
export default {
  name: "TopStepper",
  components: {DocumentRanging, TextReduction, FileUpload},
  data: () => ({
    e1: 1
  }),
  computed: {
    pageNumber: function () {
      return this.$store.getters.getPage;
    },
    isLoading: function() {
      return this.$store.getters.getLoading;
    }
  }
}
</script>

<style scoped>

</style>