<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <v-app-bar-title>
        Комиссионное средство ранжирования
      </v-app-bar-title>

      <v-spacer></v-spacer>

      <v-btn icon @click="resetAll">
        <v-icon>mdi-autorenew</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <TopStepper/>
    </v-main>
  </v-app>
</template>

<script>
import TopStepper from "./components/TopStepper";

export default {
  name: 'App',

  components: {
    TopStepper,
  },
  methods: {
    resetAll() {
      this.$store.commit('resetChanges')
    }
  },

  data: () => ({
    //
  }),
};
</script>

<style>
  h2 {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .v-btn {
    margin: 15px;
  }
</style>